CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA is not set
# CONFIG_PACKAGE_autosamba is not set
# CONFIG_PACKAGE_kmod-ipt-offload is not set
# CONFIG_PACKAGE_kmod-nf-flow is not set
# CONFIG_PACKAGE_kmod-tcp-bbr is not set
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-net-aqc111 is not set
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8150 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor is not set
CONFIG_PACKAGE_kmod-usb-roles=y
CONFIG_PACKAGE_lsblk=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-hd-idle=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-transmission=y
# CONFIG_PACKAGE_luci-app-turboacc is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_transmission-daemon-openssl=y
CONFIG_PACKAGE_transmission-web-control=y
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_TARGET_KERNEL_PARTSIZE=30
CONFIG_TARGET_ROOTFS_PARTSIZE=800
CONFIG_VMDK_IMAGES=y
CONFIG_PACKAGE_luci-app-samba4=y
# CONFIG_PACKAGE_luci-i18n-samba4-ar is not set
# CONFIG_PACKAGE_luci-i18n-samba4-bg is not set
# CONFIG_PACKAGE_luci-i18n-samba4-bn is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ca is not set
# CONFIG_PACKAGE_luci-i18n-samba4-cs is not set
# CONFIG_PACKAGE_luci-i18n-samba4-da is not set
# CONFIG_PACKAGE_luci-i18n-samba4-de is not set
# CONFIG_PACKAGE_luci-i18n-samba4-el is not set
# CONFIG_PACKAGE_luci-i18n-samba4-es is not set
# CONFIG_PACKAGE_luci-i18n-samba4-fi is not set
# CONFIG_PACKAGE_luci-i18n-samba4-fr is not set
# CONFIG_PACKAGE_luci-i18n-samba4-he is not set
# CONFIG_PACKAGE_luci-i18n-samba4-hi is not set
# CONFIG_PACKAGE_luci-i18n-samba4-hu is not set
# CONFIG_PACKAGE_luci-i18n-samba4-it is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ja is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ko is not set
# CONFIG_PACKAGE_luci-i18n-samba4-lt is not set
# CONFIG_PACKAGE_luci-i18n-samba4-mr is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ms is not set
# CONFIG_PACKAGE_luci-i18n-samba4-nl is not set
# CONFIG_PACKAGE_luci-i18n-samba4-no is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pl is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pt is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pt-br is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ro is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ru is not set
# CONFIG_PACKAGE_luci-i18n-samba4-sk is not set
# CONFIG_PACKAGE_luci-i18n-samba4-sv is not set
# CONFIG_PACKAGE_luci-i18n-samba4-tr is not set
# CONFIG_PACKAGE_luci-i18n-samba4-uk is not set
# CONFIG_PACKAGE_luci-i18n-samba4-vi is not set
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-samba4-zh-tw is not set
